@import "tailwindcss";

body {
  @apply bg-neutral-900 text-neutral-200;
}

h1 {
  @apply font-medium text-neutral-100;
}

::placeholder {
  @apply text-neutral-400;
}

/* Scrollbar styles */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

.cards-container-scrollbar::-webkit-scrollbar-track {
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 9999px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2f2f2f;
}
